#twitterIcon{
  color: rgb(0,172,237)
}
#facebookIcon{
  color = rgb(59,89,163)
}
#githubIcon{
  color: rgb(102,43,129)
}
#linkedinIcon{
  color: rgb(0,127,178)
}
.block{
  box-shadow: 4px 4px 7px #333;
  overflow: hidden;
  position: relative;
  margin-bottom: 10%;
  opacity: .8;
  padding:0;
  width:100%;
  margin-right:auto;
  margin-left:auto;
  border-radius:10px;
  margin-top:20px;
  margin:0;

}

.nav-pills{
  font-size: 1.2em;
  background-color:black;
  position: fixed;
   width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

a {
  color: white;
}

body{
  background-color: black;
  font-family: 'Sansita', sans-serif;
  color: white;
  font-size: 20px;
  position: relative;
  background: #000;
  margin: 0;
  padding: 0;
  margin: 0;
  /* overflow: hidden; */
  background: black;
}

/* ul {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  display:flex;
  margin:0;
  padding:0;
} */

.weird ul li {
  list-style:none;
  margin:0 5px;
}

.weird ul li a .fa {
  font-size: 40px;
  color: #262626;
  line-height:80px;
  transition: .5s;
  padding-right: 14px;
}

.weird ul li a span {
  padding:0;
  margin:0;
  position:absolute;
  top: 30px;
  color: #262626;
  letter-spacing: 4px;
  transition: .5s;
}

.weird ul li a {
  text-decoration: none;
  display:absolute;
  display:block;
  width: 245px;
  height:80px;
  background: #fff;
  text-align:left;
  padding-left: 20px;
  transform: rotate(-30deg) skew(25deg) translate(0,0);
  transition:.5s;
  box-shadow: -20px 20px 10px rgba(0,0,0,.5);
}

.weird ul li a:before {
  content: '';
  position: absolute;
  top:10px;
  left:-20px;
  height:100%;
  width:20px;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewY(-45deg);
}

.weird ul li a:after {
  content: '';
  position: absolute;
  bottom:-20px;
  left:-10px;
  height:20px;
  width:100%;
  background: #b1b1b1;
  transform: .5s;
  transform: rotate(0deg) skewX(-45deg);
}

.weird ul li a:hover {
  transform: rotate(-30deg) skew(25deg) translate(20px,-15px);
  box-shadow: -50px 50px 50px rgba(0,0,0,.5);
}

.weird ul li:hover .fa {
  color:#fff;
}

.weird ul li:hover span {
  color:#fff;
}

.weird ul li:hover:nth-child(1) a{
  background: #3b5998;
}
.weird ul li:hover:nth-child(1) a:before{
  background: #365492;
}
.weird ul li:hover:nth-child(1) a:after{
  background: #4a69ad;
}

.weird ul li:hover:nth-child(2) a{
  background: #00aced;
}
.weird ul li:hover:nth-child(2) a:before{
  background: #097aa5;
}
.weird ul li:hover:nth-child(2) a:after{
  background: #53b9e0;
}

.weird ul li:hover:nth-child(3) a{
  background: #dd4b39;
}
.weird ul li:hover:nth-child(3) a:before{
  background: #b33a2b;
}
.weird ul li:hover:nth-child(3) a:after{
  background: #e66a5a;
}

.weird ul li:hover:nth-child(4) a{
  background: #e4405f;
}
.weird ul li:hover:nth-child(4) a:before{
  background: #d81c3f;
}
.weird ul li:hover:nth-child(4) a:after{
  background: #e46880;
}

.pageOne {
  background: url("https://images.unsplash.com/photo-1537517812565-2d44597c3eff?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=0a059435c033ecd95d33c9cf9a7b7326");
  background-size: cover;
  /* background-position: 20px; */
  background-size: contain;
  padding-bottom: 30%;
  padding-top:5%;
  height: 800px;

}
.pageTwo {
  background:url("https://images.unsplash.com/photo-1516864351034-bf734fd2c77e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=25326103b13244f6d6865088b5dcfed2");
  background-size: cover;
  /* background-position: 20px; */
  background-size: contain;
  height: 670px;
}

/* Css that designs the text on the about. Got it from another person on codepen. */
.about-content {
    margin-top: 7%;
    font-family: "Lato", serif;
}
.about-content h2 {
    margin: 5%;
}
.about-text {
    font-size: 2rem;
    line-height: 2;
    margin: 5% 0 7%;
}
.profile-pic {
    width: 300px;
    border-radius: 50px;
}

.pageThree {
  background:url("https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=ff8a914d4441ad3b0be461ce211af8e2");
  background-size: cover;
  /* background-position: 20px; */
  background-size: contain;
  padding-top:5%;
  padding-bottom:20%;
  height: 1000px;

}
 .pageFour {
  background:url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=c7dad43cb1f32a45e9623729d2802dc1");
  background-size:cover;
  /* background-position: 20px; */
  background-size: contain;
  padding-top:5%;
  padding-bottom:20%;
  height: 500px;
}

.pageFive {
  background:url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=abdbbbf2f5992f24f3cc8d122d6a3fd9");
  background-size: cover;
  /* background-position: 20px; */
  background-size: contain;
  padding-top:5%;
  padding-bottom:20%;
  height: 500px;

}

.paddingTop{
  padding-top:2%;
  padding-bottom:2%;
}

/* p{
  font-size: 1.0em;
  padding-top: 3%
} */

h1{
    padding:0;
    margin-top:0px;
    font-size:4.7em;
 }

h2{
  font-size:2em;
  margin-bottom:30px;
}

.touch-text {
    font-size: 65px;
}

.btn-default{
  background-color:white;
  border-color:black;
  margin: 1rem;
  color:black;
  font-size:1.4em;
  transition: all 300ms;
  transform-style: preserve-3d;
}


.btn-default:hover {
  transform: scale(1.1) rotate(3deg);
  margin-right: 1.3rem;
  margin-left: 1.3rem;
}

canvas {
	cursor: crosshair;
	display: block;
    position: absolute;
}


.button-con {
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*works*/

.works {
    /* padding-bottom: 3%; */
    /* background: #fff; */
}
.works-thumb {
    height: 250px;
}
#work-1 {
    /* background: url("http://i1378.photobucket.com/albums/ah89/andreykokhanevich/portfolio%20page/twitch_zpscblks89r.jpg") no-repeat 100%; */
    background-size: cover;
}
#work-2 {
    /* background: url("http://i1378.photobucket.com/albums/ah89/andreykokhanevich/portfolio%20page/weather_zpso9kxmj13.jpg") no-repeat 100%; */
    background-size: cover;
}
#work-3 {
    /* background: url("http://i1378.photobucket.com/albums/ah89/andreykokhanevich/portfolio%20page/tribute_zpsnwcehwkk.jpg") no-repeat 100%; */
    background-size: cover;
}
#work-4 {
    /* background: url("http://i1378.photobucket.com/albums/ah89/andreykokhanevich/portfolio%20page/wikisearch_zps7uvspjn1.jpg") no-repeat 100%; */
    background-size: cover;
}
#work-5 {
    /* background: url("http://i1378.photobucket.com/albums/ah89/andreykokhanevich/portfolio%20page/quote_zpsk9hgyziu.jpg") no-repeat 100%; */
    background-size: cover;
}
#work-6 {
    /* background: url("http://i1378.photobucket.com/albums/ah89/andreykokhanevich/portfolio%20page/photoblog_zpsvvj8jgc2.jpg") no-repeat 100%; */
    background-size: cover;
}
.block::after, .block::before {
    content: '';
    background: rgba(0,0,0,0.6);
    position: absolute;
    display: block;
    width: 50%;
    height: 100%;
    top: 0;
    overflow: hidden;
}
.block::after {
    left: -50%;
    transition: 0.5s;
}
.block::before {
    right: -50%;
    transition: 0.5s;
}
.block:hover:after {
    left: 0;
}
.block:hover:before {
    right: 0;
}
.works-caption {
    text-align: center;
    font-family: "Lato", serif;
    font-size: 2rem;
    letter-spacing: 0.4rem;
    position: absolute;
    border-radius: 10px;
    display: block;
    padding: 15px 2px;
    width: 60%;
    left: 20%;
    top:-40%;
    z-index: 1;
    color: #fff;
    border: 2px solid #fff;
    transition: top 0.5s;
}
.block:hover .works-caption {
    top: 33%;
}
.works h2 {
    margin: 7% 0;
}
