#twitterIcon{
  color: rgb(0,172,237)
}
#facebookIcon{
  color = rgb(59,89,163)
}
#githubIcon{
  color: rgb(102,43,129)
}
#linkedinIcon{
  color: rgb(0,127,178)
}
.block{
  bakground-color:green;
  opacity: .8;
  padding:10px;
  width:100%;
  margin-right:auto;
  margin-left:auto;
  border-radius:10px;
  margin-top:20px;
}

.nav-pills{ 
  font-size: 1.2em;
  background-color:black;
  position: fixed;
   width: 100%;
  top: 0;
  left: 0;
  box-shadow: 0 1px 3px rgba(0,0,0,.3);
}

a {
  color: white;
}

body{
  background-color: black;
  font-family: 'Sansita', sans-serif;
  color: white;
  font-size: 20px;
  position: relative;
  background: #000;
	margin: 0;
}

.pageOne {
  background: url("https://images.unsplash.com/photo-1537517812565-2d44597c3eff?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=0a059435c033ecd95d33c9cf9a7b7326");
  background-size: cover;
  padding-bottom: 30%;
  padding-top:5%;
  height: 1000px; 
  
  
}
.pageTwo {
  background:url("https://images.unsplash.com/photo-1516864351034-bf734fd2c77e?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=25326103b13244f6d6865088b5dcfed2");
  background-size: cover;
  padding-top:5%;
  padding-bottom: 30%;
  height: 1000px; 

}
.pageThree {
  background:url("https://images.unsplash.com/photo-1464621922360-27f3bf0eca75?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=ff8a914d4441ad3b0be461ce211af8e2");
  background-size: cover;
  padding-top:5%;
  padding-bottom:20%;
  height: 100vh;
  
}
 .pageFour {
  background:url("https://images.unsplash.com/photo-1531297484001-80022131f5a1?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=c7dad43cb1f32a45e9623729d2802dc1");
  background-size:cover;
  padding-top:5%;
  padding-bottom:20%;
  height: 1100px;
}

.pageFive {
  background:url("https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=abdbbbf2f5992f24f3cc8d122d6a3fd9");
  background-size: cover;
  padding-top:5%;
  padding-bottom:20%;
  height: 500px;
   
}
.paddingTop{
  padding-top:2%;
  padding-bottom:2%;
}

p{
  font-size: 1.0em;
  padding-top: 3%
  
}

h1{
    padding:0;
    margin-top:0px;
    font-size:4.7em;
  }
h2{
  font-size:2em;
  margin-bottom:30px;
}
.btn-default{
  background-color:white;
  border-color:black;
  margin: 1rem;
  color:black;
  font-size:1.4em;
  transition: all 300ms;
    transform-style: preserve-3d;
}


.btn-default:hover {
  transform: scale(1.1) rotate(3deg);
  margin-right: 1.3rem;
  margin-left: 1.3rem;
}

canvas {
	cursor: crosshair;
	display: block;
}


  